@font-face {
  font-display: swap;
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/play-v19-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Play";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/play-v19-latin-700.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v30-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v30-latin-700.woff2") format("woff2");
}
:root {
  --color-light: #ffffff;
  --color-brand-light: #2b7fff;
  --color-brand-dark: #011c44;
  --color-secondary1: #4a4a4a;
  --color-secondary2: #4a4a4a;
  --color-secondary3: #747272;
  --color-secondary4: #011f4a;
  --color-secondary5: #ffd02b;
  --color-dark: #000000;
}
/*base*/
* {
  box-sizing: border-box;
}
body {
  color: var(--color-brand-dark);
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
section {
  padding: 48px 0;
}
.section-title {
  font-family: "Play", sans-serif;
  font-weight: 700;
  font-size: 64px;
  text-align: center;
}
.section-title .accent {
  color: var(--color-brand-light);
}
.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}
/*button------------------------------------*/
.button {
  background-color: var(--color-brand-light);
  color: var(--color-light);
  border-radius: 32px;
  cursor: pointer;
  font-weight: 600;
  margin-top: 14px;
  padding: 16px 32px;
}
.button:hover {
  background-color: transparent;
  color: var(--color-brand-dark);
  border: 2px solid var(--color-brand-light);
  border-radius: 32px;
}

/*link-------------------------------*/
.link {
  color: var(--color-brand-dark);
  text-decoration: none;
  line-height: 1.1;
}
.link:hover {
  color: var(--color-brand-light);
}
.link-footer {
  color: var(--color-light);
}
/*header--------------------------------*/
.header-container {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 40px;
}
.header-menu {
  display: flex;
  gap: 56px;
  flex-grow: 1;
  justify-content: center;
}
.header-address {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 20px;
}
/*hero section--------------------------*/
.hero-section {
  padding: 123.12px 728.95px 156.81px 244px;
}
.hero-title {
  color: var(--color-brand-light);
  font-family: "Play", sans-serif;
  font-size: 140px;
  font-weight: 700;
  margin-top: 40px;
}
.hero-text1 {
  margin-top: 16px;
}

/*pronas-section---------------*/
.section-pronas {
}
.pronas-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.pronas-content {
  max-width: 709px;
}
.pronas-img {
}
.pronas-title {
  margin-top: 40px;
}
.pronas-text {
  line-height: 1.7;
  max-width: 709px;
}
.pronas-text .uppercase {
  text-transform: uppercase;
  font-weight: 600;
}
/*chomu-section-----------------*/
.chomu-section {
  padding-top: 176px 0;
}
.chomu-title {
  margin-top: 48px;
}
.chomu-tex {
  color: var(--color-dark);
  line-height: 1.3;
  margin: 8px 32px 24px 32px;
}
/*procedury-section----------------*/
.procedury-list {
  display: flex;
  gap: 16px;
}
.procedury-item {
  flex-basis: calc((100%-32px) / 3);
}
.procedury-card {
  background-color: linear-gradient(
    180.05deg,
    rgba(1, 28, 68, 0) 48.53%,
    rgba(1, 28, 68, 0.725825) 84.61%,
    #011c44 101.39%
  );
  border-radius: 120px 4px;
  padding: 372px 77px 32px 115px;
}
.procedury-title {
  margin-top: 48px;
}
.procedury-text {
  color: var(--color-light);
  line-height: 1.2;
  text-align: center;
}
/*contact-section---------------------------*/
.contact-title {
  margin-top: 48px;
}
/*footer--------------------------------*/
.footer {
  text-decoration: none;
  color: var(--color-light);
  font-style: normal;
}
.text {
  color: var(--color-secondary3);
}
